.contain {
	background: #fff;
	padding-top: 50px!important;
}
.open-btn {
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	padding-right: 10px;
	z-index: 99;
	color: #f00;
	font-size: 16px;
}
.ioscontain {
	padding-top: 60px!important;
}
.ioscontain .open-btn {
	height: 60px;
	padding-top: 20px;
}
.xcontain {
	padding-top: 84px!important;
}
.xcontain .open-btn {
	height: 84px;
	padding-top: 44px;
}
.wrap-info {
	padding: 10px;
}
textarea {
	border: none;
	display: block;
	width: 100%;
	height: 50px;
}
.poster-btn {
	width: 120px;
	height: 120px;
	border-radius: 6px;
	background: url() center no-repeat;
	background-size: cover;
	background-color: #f4f4f4;
	overflow: hidden;
}
.poster-text {
	height: 26px;
	background: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 12px;
}
.address {
	margin: 10px 0 4px;
}
.wrap-select {
	padding: 18px 0;
	border-bottom: 1px solid #f4f4f4;
}
.wrap-area {
	max-height: 60vh;
	overflow-y: scroll;
}
.area-item {
	height: 50px;
	padding: 0 15px;
	border-bottom: 1px solid #F4F4F4;
}
.area-cancel {
	border-top: 6px solid #f4f4f4;
	height: 50px;
	letter-spacing: 2px;
	color: rgba(0,0,0,0.8);
}
.wrap-select input {
	display: block;
	width: 100%;
}
