.contain-page {
	top: 0;
}
.nav-on {
	position: relative;
}
.nav-on::after {
	content: '';
	width: 26px;
	height: 3px;
	background: #FFFFFF;
	border-radius: 3px;
	position: absolute;
	bottom: 12px;
	left: 0;
	right: 0;
	margin: auto;
}