.contain-page {
	top: 0;
}
.jian {
	width: 14px;
	height: 14px;
}
.wrap-jian {
	padding: 2px 6px 2px 6px;
}
.search-btn {
	position: relative;
}
.search-btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	height: 24px;
	border-left: 1px solid rgba(255,255,255,0.7);
}
.arrow-icon {
	position: relative;
	top: -2px;
	width: 0;
	border: 5px solid transparent;
	border-bottom-color: #fff;
	margin-left: 4px;
}
.arrow-icon.down {
	border-top-color: #fff;
	border-bottom-color: transparent;
	top: 3px;
}
.fliter-item {
	min-width: 100px;
	padding: 0 10px;
}
.fliter-item.on {
	background: #EDFFEB;
	border: 1px solid #78CA73;
	color: #78CA73;
}
.wrap-filter-info {
	position: relative;
	padding: 1px 12px 30px 12px;
	border-radius: 0px 0px 15px 15px;
}
.wrap-filter-info::after {
	content: '';
	position: absolute;
	bottom: 8px;
	left: 0;
	right: 0;
	width: 28px;
	height: 4px;
	background: #EDEBEB;
	border-radius: 4px;
	margin: auto;
}
.wrap-search {
	background: rgba(255, 255, 255, 0.3);
}