.contain {
	padding-top: 100px!important;
	background: #fff;
	padding-bottom: 50px;
}
.wrap-header {
	/* #ifdef MP-WEIXIN */
	 background: url(https://qiniu.syh32.com/syh/xcx/shops-goods-header.png) center no-repeat;
	 /* #endif */
	 /* #ifndef MP-WEIXIN */
	 background: url(../../../../appimages/images/shops-goods-header.png) center no-repeat;
	 /* #endif */
	background-size: cover;

}
/deep/ .van-ellipsis {
	font-size: 16px;
	color: #000000;
	font-weight: 500;
}
/deep/ .van-tabs__wrap {
	position: fixed;
	top: 56px;
}
/deep/ .van-tabs--line {
	padding-top: 0;
}
.wrap-coupon {
	margin: 10px;
	padding: 11.6% 0;
	/* #ifdef MP-WEIXIN */
	 background: url(https://qiniu.syh32.com/syh/xcx/coupon-bg.png) center no-repeat;
	 /* #endif */
	 /* #ifndef MP-WEIXIN */
	 background: url(../../../../appimages/images/coupon-bg.png) center no-repeat;
	 /* #endif */
	background-size: 100% auto;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	position: relative;
}
.wrap-coupon.off {
	/* #ifdef MP-WEIXIN */
	 background-image: url(https://qiniu.syh32.com/syh/xcx/coupon-noused.png);
	 /* #endif */
	 /* #ifndef MP-WEIXIN */
	 background-image: url(../../../../appimages/images/coupon-noused.png);
	 /* #endif */
}
.wrap-coupon.off .type {
	background-color: #ccc;
}
.del {
	background:linear-gradient(-90deg,rgba(35,35,35,1),rgba(97,97,97,1));
	border-radius:20px;
	width: 60px;
	height: 20px;
	font-size: 10px;
	color: #fff;
}
.del img {
	width: 12px;
	margin-right: 4px;
}
.coupon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.coupon-left {
	width: 33%;
	color: #fff;
}
.price {
	font-size: 24px;
	font-weight: bold;
}
.tip {
	font-size: 12px;
	margin-top: 6px;
}
.coupon-right {
	padding: 6px 10px;
}
.title {
	font-weight: bold;
}
.type {
	background: #FF012B;
	font-size: 10px;
	padding: 2px 4px;
	border-radius: 15px;
	color: #fff;
}
.time {
	color: #999999;
	font-size: 12px;
}
.show{
	position: absolute;
	right: 4px;
	top: 4px;
	width: 16px;
}
.show-coupon {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 11;
	background: #fff;
	filter:alpha(opacity=80);  

      -moz-opacity:0.8;  

      -khtml-opacity: 0.8;  

      opacity: 0.8;  
}
.wrap-del {
		width: 30px;
		height: 30px;
		background: #000;
		border-radius: 50%;
		
}
.wrap-del img {
	width: 18px;
}
.show-coupon span{
	font-size: 10px;
	color: #282526;
	margin-top: 6px;
}
.creat i {
	margin-right: 4px;
	margin-top: 2px;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
		
		.contain {
			padding-top: 128px!important;
			padding-bottom: 20px;
		}
		.goods-bottom {
			padding-bottom: 34px;
			height: 84px;
		}
	}
	
	@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
		
		.contain {
			padding-top: 128px!important;
			padding-bottom: 20px;

		}
		.goods-bottom {
			padding-bottom: 34px;
			height: 84px;
		}
	}
	
	@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
		
		.contain {
			padding-top: 128px!important;
			padding-bottom: 20px;

		}
		.goods-bottom {
			padding-bottom: 34px;
			height: 84px;
		}
	}
	/deep/ .s-tabs {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		z-index: 1;
	}
	
	/deep/ .is-active {
		font-weight: bold;
	}