.wuliu {
	font-size: 12px;
	padding: 4px 10px;
}

.contain {
}
.item-info {
	padding: 10px;
	padding-bottom: 6px;
	margin-bottom: 10px;
}

.van-tabs {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 1;
}
/deep/ .van-tabs__nav {
	background: #F3F1F2;
}

.price {
	color: #f44;
	font-weight: bold;
}

.price em {
	font-size: 10px;
	color: #ccc;
	margin-left: 4px;
	font-weight: normal;
}

/deep/ .van-icon-location {
	padding: 8px;
	border-radius: 50%;
	background-image: -webkit-linear-gradient(left, #FF7A00, #FE560A);
	background-image: linear-gradient(to right, #FF7A00, #FE560A);
}

.wrap-item {
	background-color: #fff;
	margin: 0 10px;
	margin-bottom: 6px;
	border-radius: 5px;
	box-shadow:0px 4px 10px 0px rgba(236,236,236,1);
	overflow: hidden;
	padding-bottom: 6px;
}

.wrap-img {
	width: 100px;
	height: 100px;
	border-radius: 4px;
	background: url() center no-repeat;
	background-size: contain;
	flex-shrink: 0;
}

.wrap-goods-info {
	padding: 0 6px;
	font-size: 14px;
}

.goods-info {
	padding: 2px 4px;
	background: #f4f4f4;
	border-radius: 2px;
	color: #ccc;
	font-size: 12px;
	color: #666666;
}

.item-total {
	font-weight: bold;
	font-size: 12px;
	padding: 4px 10px 6px;
}

.item-total em {
	font-size: 12px;
	color: #ccc;
	margin-right: 4px;
}

.type {
	color: #f44;
	font-size: 12px;
}

.wrap-type {
	padding-right: 10px;
	height: 36px;
}

.wrap-type>div span {
	flex-shrink: 0;
	padding: 6px 7px;
	font-size: 12px;
	display: inline-block;
	border-radius: 20px;
	color: #fff;
	margin-left: 6px;
	border: 1px solid transparent;
	background: linear-gradient(-90deg, rgba(255, 1, 43, 1), rgba(255, 133, 2, 1));
}

.wrap-type>div span.off {
	background: transparent;
	border: 1px solid #A0A0A0;
	color: #282526;
}

/deep/ .van-step--vertical {
	font-size: 10px !important;
	font-weight: normal !important;
}

.shops-title {
	height: 36px;
	padding: 0 10px;
	border-bottom: 1px solid #f4f4f4;
}

.wrap-sure {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 111;
}

.sure {
	width: 240px;
	height: 120px;
	background: #fff;
	border-radius: 6px;
	padding: 14px 0;
}

.sure-btn {
	margin-top: 20px;
}

.sure-btn span {
	width: 80px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 20px;
	color: #000;
	font-weight: 500;
	margin: 0 10px;
}

.sure-btn span:last-child {
	color: #fff;
	/* background: linear-gradient(-90deg, rgba(255, 1, 43, 1), rgba(255, 133, 2, 1)); */
}

.tuikuan {
	padding: 2px 4px;
	background: #000;
	border-radius: 2px;
	color: #fff;
	font-size: 12px;
	margin-left: 10px;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.ios .van-tabs {
		top: 84px !important;
	}
	.contain.ios {
		padding-top: 128px!important;
	}
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
	.ios .van-tabs {
		top: 84px !important;
	}
	.contain.ios {
		padding-top: 128px!important;
	}
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
	.ios .van-tabs {
		top: 84px !important;
	}
	.contain.ios {
		padding-top: 128px!important;
	}
}

.order-title {
	height: 36px;
	padding: 0 10px;
}
.order-type {
	color: #fff;
	font-size: 10px;
	padding: 2px 8px;
	background: #FF8402;
	border-radius: 4px;
	margin-right: 8px;
}
.order-no,.order-time {
	font-size: 10px;
	font-weight: 500;
	color: #999;
}
/deep/ .s-tabs {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 1;
}
/* #ifdef H5 */
/deep/ .s-tabs {
	top: 44px;
}
/* #endif */

/deep/ .is-active {
	font-weight: bold;
}